hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    off
}

debug {
    honor-xdg-activation-with-invalid-serial
}

prefer-no-csd

layer-rule {
    match namespace="^noctalia-wallpaper"
    place-within-backdrop true
}
