layout {

    focus-ring {
        active-color   "#a9b665"
        inactive-color "#32302f"
        urgent-color   "#ea6962"
    }

    border {
        active-color   "#a9b665"
        inactive-color "#32302f"
        urgent-color   "#ea6962"
    }

    shadow {
        color "#28282870"
    }

    tab-indicator {
        active-color   "#a9b665"
        inactive-color "#464f1a"
        urgent-color   "#ea6962"
    }

    insert-hint {
        color "#a9b66580"
    }
}

recent-windows {
    highlight {
        active-color "#a9b665"
        urgent-color "#ea6962"
    }
}
