layout {

    focus-ring {
        active-color   "#259d94"
        inactive-color "#002d38"
        urgent-color   "#f23749"
    }

    border {
        active-color   "#259d94"
        inactive-color "#002d38"
        urgent-color   "#f23749"
    }


    tab-indicator {
        active-color   "#259d94"
        inactive-color "#0c403c"
        urgent-color   "#f23749"
    }

    insert-hint {
        color "#259d9480"
    }
}

recent-windows {
    highlight {
        active-color "#259d94"
        urgent-color "#f23749"
    }
}
