spawn-at-startup "noctalia"
window-rule {
  // Rounded corners for a modern look.
  geometry-corner-radius 20

  // Clips window contents to the rounded corner boundaries.
  clip-to-geometry true
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}
prefer-no-csd
binds {
    // Core Noctalia binds
    Mod+Space { spawn-sh "vicinae open"; }
    Mod+E { spawn "nautilus"; }
    Mod+S { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Comma { spawn-sh "noctalia msg settings-toggle"; }
    Mod+Shift+E { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+Shift+Z { spawn-sh "wooz --invert-scroll"; }
    Mod+Shift+S { spawn-sh "noctalia msg screenshot-fullscreen"; }
    Mod+Shift+R { spawn-sh "noctalia msg screenshot-region"; }

    // Audio & Brightness
    XF86AudioRaiseVolume { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute { spawn-sh "noctalia msg volume-mute"; }
    XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }
}
// Place the regular wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper"
  place-within-backdrop true
}

// Set transparent workspace background color so the backdrop is visible at all times.
layout {
  background-color "transparent"
}

// Optionally, disable workspace shadows in the overview.
overview {
  workspace-shadow {
    off
  }
}


environment {
    QT_QPA_PLATFORMTHEME "gtk3"
    "GTK_IM_MODULE" "fcitx"
    "QT_IM_MODULE" "fcitx"
    "XMODIFIERS" "@im=fcitx"
    "SDL_IM_MODULE" "fcitx"
    "GLFW_IM_MODULE" "fcitx"
}

spawn-at-startup "vicinae server"
